body {
    /* font-family: 'Open Sans', sans-serif !important; */
    font-family: Raleway,Arial,sans-serif !important;
}

img{
    max-width: 100%;
    height: auto;
}

body {
    line-height: 1;
    max-width: 100vw;
    overflow-x: hidden;
}


header{
    z-index: 999999999;
    background: rgba(255,255,255,0.5);
    width: 100%;
    position: fixed;
    left: -400px;
    transition: all 0.5s;
    width: 400px;
    height: 100vh;
    background: rgba(0,0,0,0.5);
}
header.showMenu{
    left: 0;
}

header img{
    position: absolute;
    transform: translatex(-50%);
    left: 50%;
    top: 130px;
    width: 70%;
}

header nav li{
    display: inline;
}

header nav{
    margin-top: 250px;
}

header nav li a{
    font-size: 22px;
    color: #000;
    text-decoration: none;
    display: block;
    color: #fff;
    margin-bottom: 0;
    text-align: center;
    margin-bottom: 10px;
}

.hero_head{
    transform: translate(-50%);
    top: 50%;
    left: 50%;
    position: absolute;
    font-size: 40px;
    color: #fff;
    margin-top: -20px;
}



.sliderHome {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

._full_height{
    height: 100vh;
}


.gallery-col{
    column-count: 4;
    column-gap: 15px;
}
.gallery-col > div{
    margin-top: 5px;
    cursor: pointer;
}

.has_transition_zoom {


}

.has_transition_zoom img{

    max-width: 100%;
    height: auto;
    width: 100%;

}

.hero_cont{
    overflow: hidden;
    position:relative;
    max-height: calc(100vh + 120px);
    width: 100%;
}

.has_transition_zoom {
    animation: leaves 10s ease-in-out infinite alternate;
    -moz-animation: leaves 10s ease-in-out infinite alternate;
    -webkit-animation: leaves 10s ease-in-out infinite alternate;
}

@-moz-keyframes leaves {
    0% {
        -moz-transform:  scale(1.0);
        -webkit-transform: scale(1.0);
        -ms-transform:  scale(1.0);
        transform :  scale(1.0);

    }
    100% {
        -moz-transform:   scale(1.1);
        -webkit-transform:   scale(1.1);
        -ms-transform:   scale(1.1);
        transform :   scale(1.1);
    }
}

@-webkit-keyframes leaves {
    0% {
        -moz-transform:  scale(1.0);
        -webkit-transform: scale(1.0);
        -ms-transform:  scale(1.0);
        transform :  scale(1.0);

    }
    100% {
        -moz-transform:   scale(1.1);
        -webkit-transform:   scale(1.1);
        -ms-transform:   scale(1.1);
        transform :   scale(1.1);
    }
}


@keyframes leaves {
    0% {
        -moz-transform: scale(1.0);
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform : scale(1.0);

    }
    100% {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform : scale(1.1);
    }
}

.description p {
    padding-bottom: 20px;
    line-height: 27px;
    font-size: 20px;
    text-align: center;
}

.pull-right{
    float: right;
}

.pull-left{
    float: left;
}

.pull-center{
    text-align: center;
}

footer .cd{
    font-size: 20px;
    padding-right: 40px;
}

footer{
    padding: 50px 0;
}

.copyright {
    display: block;
    width: 100%;
    float: left;
    text-align: center;
    padding-bottom: 20px;
    font-size: 25px;
    background: #f2f2f2;
    color: #000;
}

.copyright a{
    color: #000;
}

footer .cd li{
    padding-bottom: 5px;
    padding-top: 5px;
}

footer a{
    color: #fff;
    text-decoration: none;
}

.facilities h1{
    display: block;
    text-align: center;
    width: 100%;
    font-size: 36px;
    margin-bottom: 20px;
}

.facilities{
    padding: 20px 0;
}

.facilities  ul{
    width: 100%;
    text-align: center;
}

.facilities  ul li{
    padding-bottom: 15px;
}

.description{
    padding-top: 30px;
}

.intro{
    text-align: center;
    font-size: 27px;
    padding-top: 50px;
}

.intro h2{
    padding-top: 10px;
    font-size: 41px;
}

.contact_form h1{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-group{
    width: 100%;
}

.form-group label{
    width: 100%;
    display: block;
    padding-bottom: 15px;
    padding-top: 15px;
}

.form-group input,.form-group textarea {
    width: 100%;
    max-width: 480px;
}

.form-group input{
    height: 50px;
}

#contact-form{
    width: 100%;
}

#contact-form button{
    background: transparent;
    padding: 10px 20px;
    border: 1px solid grey;
    margin-top: 10px;
    cursor: pointer;
}

.sl_one .slick-slide img {
    top: 10%;
    left: 50%;
    position: relative;
    max-width: 100%;
    height: 80%;
    width: auto !important;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translate(-50%);
}

.slick-list, .slick-track {
    height: 100%;
}

.sl_one {
    width: 100%;
    height: 100vh;
}

.sl_one .slick-slide div{
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translate(-50%);
}

.sl_one .slick-slide {
    display: block;
    position: relative;
}

.overflow{
    overflow: hidden;
}

.sliderPopup {
    position: fixed;
    z-index: 9999999999999;
    left: 0;
    height: 100vh;
    top: 0;
    width: 100vw;
    background: rgba(0,0,0,0.8);
    display: none;
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    border: 1px solid #ccc;
    border-top-color: #07d;
    animation: spinner .6s linear infinite;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.show{
    display: block !Important;
}

.hide{
    display: none !Important;
}

.button_show{
    display: block;
    text-align: center;
    margin: 50px;
    background: antiquewhite;
    max-width: 150px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}


.no-pad{
    padding: 0;
}

.title_head{
    font-size: 30px;
}

.small_title{
    font-size: 22px;
}

.acc_rooms .title_head{
    padding-top: 25px;
}
.acc_rooms .description{
    padding-top: 25px;
}
.acc_rooms .description p {
    padding-bottom: 20px;
    line-height: 24px;
    font-size: 15px;
    text-align: center;
}

.details{
    text-decoration: none;
    font-size: 20px;
    border: 1px solid;
    color: #000;
    margin-top: 11px;
    padding: 10px 20px;
    display: inline-block;
}

.room_inner{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.acc_rooms li{
    margin-bottom: 40px;
}

.amenities li{
    margin-top: 10px;
    margin-bottom: 10px;
}

.amenities ul{
    column-count: 2;
    padding-top: 40px;
    width: 100%;
}

.amenities{
    padding-bottom: 40px;
}

.slick-slide.slick-active.slick-current{
    z-index: 999999999999999;
    display: block;
}

.more_rooms img{
    margin: 0 auto;
    display: block;
}

.hero_heading{
    text-align: center;
    padding: 200px;
    font-size: 40px;
    line-height: 37px;
}

.small_hero_heading{
    text-align: center;
    padding: 200px;
    font-size: 40px;
    line-height: 37px;
    padding-bottom: 50px;
}

.v_small_hero_heading{
    text-align: center;
    padding: 50px;
    font-size: 40px;
    line-height: 37px;
    padding-bottom: 50px;
}

.gallery-col li{
    cursor: pointer;
}

.arrow_btn{
    background: transparent;
    border: 0;
    cursor: pointer;
}

.arrow_btn svg {
    fill: #fff;
}

.arrow_btn:focus { outline:0 !important; }

.arrow_btn.next svg{
    transform: rotate(180deg);
}

.arrow_btn{
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 40px;
    margin-top: -32px;
    cursor: pointer;
}

.arrow_btn.next{
    position: absolute;
    z-index: 9;
    top: 50%;
    right: 40px;
    cursor: pointer;
    margin-top: -32px;
    left: inherit;
}


.closeX{
    position: absolute;
    right: 45px;
    background: transparent;
    font-size: 45px;
    border: 0;
    color: #fff;
    cursor: pointer;
    z-index: 9999999999;
}

.sliders_count {
    color: #fff;
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(10% - 30px);
}


.abs_pos_center{
    position: absolute;
    left: 50%;
    color: #fff;
    font-size: 40px;
    top: 50%;
    transform: translate(-50%);
}

.Contact-details h2{
    font-size: 20px;
}

.primary_heading:after, .primary_heading:before, .primary_title:after, .primary_title:before {
    width: 50px;
    text-align: center;
    vertical-align: middle;
    content: "";
    height: 2px;
    background-color: #bb4d4a;
    display: block;
    margin: 10px auto;
}

.color--brand{
    color: #bb4d4a;
}

.Contact-details div{
    padding-top: 30px;
}

.Contact-details a{
    color: #000;
    text-decoration: none;
}

.hamburger{
    /* margin-top: 200px; */
    position: fixed;
    z-index: 99999999999;
    background: #fff;
    left: 50px;
    top: 50px;
}


.logo_hotel{
    position: fixed;
    z-index: 999;
    left: 50%;
    transform: translate(-50%);
    top: 30px;
    max-width: 300px;
}

.book_hotel{
    position: fixed;
    right: 50px;
    z-index: 99999;
    background: rgba(0,0,0,0.5);
    color: #fff;
    padding: 20px;
    font-size: 20px;
    line-height: 20px;
    top: 50px;
    text-decoration: none;
}

.facilities li{
    font-size: 21px;
    padding-bottom: 10px;
}



.booking_form {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 70px;
    overflow: visible;
    min-width: 800px;
    margin: 0 auto;
    display: block;
    margin-top: 63px;
    min-height: 126px;
    position: relative;
    z-index: 9;
}

.booking_form iframe {
    width: 100%;
    height: 240px;
    position: absolute;
    left: 0;
    top: 0;
}

.primary_heading{
    font-size: 30px;
}

.Contact-details{

}

.hero_start{
    padding: 100px 0;
}
.hero_start_top {
    padding: 100px 0;
    padding-bottom:0;
}

.hero_slider_inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}


.link {
    text-decoration: none;
    color: #fff;
    font-size: 23px;
    border: 1px solid;
    padding: 10px;
    margin-top: 21px;
    display: inline-block;
}

.slick-dots {
    bottom: 30px;
    width: 100%;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots {
    bottom: 25px;
    width: 100%;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li button:before {
    font-size: 15px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    content: '•';
    text-align: center;
    opacity: 1;
    color: #fff;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 30px;
    height: 30px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #bb4d4a;
}

.more_rooms{
    position: relative;
}

.more_rooms .arrow_btn {
    left: -40px;
}

.more_rooms .arrow_btn.next {
    right: -40px;
    left: inherit;
}

.more_rooms .arrow_btn svg {
    fill: #000;
}

.small_pad_top{
    padding-top: 40px;
    margin: 0 auto;
}

.mobile-menu{
    display:none;
}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {

    .mobile-menu{
        display:block;
    }


    .desktop-menu{
        display:none;
    }

    .description p {
        padding-bottom: 20px;
        line-height: 20px;
        font-size: 14px;
    }
    .intro {
        font-size: 27px;
        padding-top: 20px;
    }
    .facilities li {
        font-size: 14px;
        padding-bottom: 5px;
    }

    .booking_form {
        max-width: inherit;
        min-width: inherit;
    }

    .more_rooms .arrow_btn.next {
        right: 0;
        left: inherit;
    }
    .more_rooms .arrow_btn {
        left: 0;
    }


}

@media screen and (max-width: 768px) {
    header nav {
        margin-top: 150px;
    }
    .book_hotel {
        right: 0;
        padding: 10px;
        font-size: 13px;
        line-height: 20px;
        top: 0;
    }
    .hamburger {
        left: 0;
        top: 0;
        padding: 8px;
    }
    .logo_hotel {
        left: 48.5%;
        width: 45%;
        transform: translate(-50%);
        top: 7px;
    }
    .hero_head {
        font-size: 16px;
    }
    header img {
        position: absolute;
        transform: translatex(-50%);
        left: 50%;
        top: 55px;
        width: 67%;
    }
    .description p {
        padding: 10px;
    }
    .abs_pos_center {
        font-size: 20px;
    }

    .gallery-col {
        column-count: 2;
        column-gap: 5px;
    }

    footer .cd {
        padding-right: 0;
    }

    .footer_top .pull-left ,.footer_top .pull-right {
        float: inherit;
        padding-bottom: 20px;
    }

    .footer_top{
        text-align: center;
    }

    header {
        width: 100%;
    }

    .small_title {
        font-size: 12px;
    }

    .booking_form {
        margin-top: 20px;
        margin-bottom: 60px;
    }
}

input[name="checkin"] {
    border: 1px solid #BFBDBD;
    height: 50px !important;
    width: 100% !important;
    padding-left: 10px;
    font-size: 14px !important;
    color: #656565;
}
input[name="checkout"] {
    border: 1px solid #BFBDBD;
    height: 50px !important;
    width: 100% !important;
    padding-left: 10px;
    font-size: 14px !important;
    color: #656565;
}

#wh-adults,#wh-rooms{
    border: 1px solid #BFBDBD !important;
    background: #FFFFFF !important;
    height: 50px !important;
    width: 100% !important;
    font-size: 14px !important;
    color: #656565;
    text-indent: 5px;
}

.small-pad {
    padding-left: 6px;
    padding-right: 6px;
}

.form_book_button{
    color: #fff!important;
    font-size: 16px!important;
    letter-spacing: 0px!important;
    height: 50px!important;
    text-align: center;
    width: 100%;
    border: none !important;
    cursor: pointer;
}

.cosmores-txt{
    font-size: 36px;
    padding: 16px 8px;
    text-align: left;
    color: #656565;
    height: 50px;
    font-weight: 200;
    /* text-align: center; */
    line-height: 22px;
    font-family: Raleway,Arial,sans-serif !important;
}

.pad-cont {
    padding: 60px 0;
}

.btn{
    padding: 0 15px;
    background-color: #bb4d4a;
    color: #fff;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    font-style: normal;
    font-weight: 600;
}

.bg_color_f2{
    background: #f2f2f2;
}

.hero_slider.__home{
    max-height: 100vh;
    overflow: hidden;
}

.gallery-abs{
    height: calc(50vh - 100px);
    float: left;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease;
    overflow: hidden;
    min-height: 300px;
    width: 100%;
    background-size: cover !important;
}

.no_m_pad > div{
    padding: 0;
}


.start_c-abs .btn-c.withArrowSm:after {
    padding: 0;
    margin: 0;
    content: url(./assets/gallery-category-icon.png);
    z-index: 1;
    position: absolute;
    right: 15px;
}

.space_div{
    padding: 80px 0;
}







.more_gallery_imgs .no-pad{
    position: fixed;
}

.name_gallery{
    position: fixed;
    z-index: 999999;
    background: rgba(0,0,0,0.5);
    color: #fff;
    padding: 10px 20px;
}

.more_gallery_imgs .no-pad {
    position: fixed;
    z-index: 99999999999;
}

.more_gallery_imgs .no-pad:after{
    content: "";
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.select_more_galleries{
    z-index: 99999999;
    position: absolute;
    top: 57px;
    background: rgba(0,0,0,0.5);
    right: 0;
    color: #fff;
    text-align: center;
}

.select_more_galleries a {
    color: #fff;
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 7px;
}

.showGalleriesList{
    right: -500px;
    position:absolute;
}

.photo_gal{
    right: 0;
    left: initial;
    top: 0;
}

.select_more_galleries h1{
    margin-bottom: 20px;
    margin-top: 10px;
}

.close_galleries_menu{
    padding: 10px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}


.gotoPhotos{
    z-index: 999999999;
    position: absolute;
    top: 0;
    right: 70px;
    font-size: 45px;
    background: rgba(142,214,233,.77);
    padding: 6px;
    cursor: pointer;
}

.gotoPhotos a {
    text-decoration: none;
}

.accommodation.container-fluid > .row > div{
    padding:0;
}

.sub_menu_cont{
    height: 0;
    opacity: 0;
    z-index: 0;
    transition: all 0.5s;
    overflow: hidden;
    display: block;
}

.sub_menu_cont:hover{
    height: 100%;
    opacity: 1;
    z-index: 1;
    transition: all 0.5s;
    overflow: hidden;
    display: block;
}

.hell{
    display: block;
    position: relative;
}

.hell:hover ~ .sub_menu_cont{
    height: 100%;
    opacity: 1;
    z-index: 1;
}




.sub_menu_contb{
    height: 0;
    opacity: 0;
    z-index: 0;
    transition: all 0.5s;
    overflow: hidden;
    display: block;
}

.sub_menu_contb:hover{
    height: 100%;
    opacity: 1;
    z-index: 1;
    transition: all 0.5s;
    overflow: hidden;
    display: block;
}

.hellb{
    display: block;
    position: relative;
}

.hellb:hover ~ .sub_menu_contb{
    height: 100%;
    opacity: 1;
    z-index: 1;
}

.hell:after {
    content: "+";
    position: absolute;
    z-index: 9999999999999999999999999;
    color: #fff;
    font-size: 30px;
    top: -4px;
    right: 110px;
    width: 30px;
    display: block;
}
.hellb:after {
    content: "+";
    position: absolute;
    z-index: 9999999999999999999999999;
    color: #fff;
    font-size: 30px;
    top: -4px;
    right: 110px;
    width: 30px;
    display: block;
}



.transitions_cont > div{
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
}

.revealed{
    opacity: 1 !important;
    visibility: visible !important;
}

.transitions_cont > div:nth-child(1), .transitions_cont > div:nth-last-child(1){
    transition: all 0.5s;
    opacity: 1;
    visibility: visible;
}


.footer-v1{
    background: #262626;
    color:#fff;
}


.footer_top img {
    /* background: rgba(0,0,0,0.1); */
    padding: 13px;
    margin-bottom: 40px;
}

.footer_top {
    padding-bottom: 40px;
}

.text-upper{
    text-transform: uppercase;
}

.footer-v1 h1{
    padding-top: 20px;
}

.footer-v1 .fa{
    padding-right: 10px;
}

.header-v1{
    z-index: 999999999;
    background: rgba(255,255,255,0.5);
    top: 0;
    position: fixed;
    left: 0;
    transition: all 0.5s;
    width: 100%;
    height: auto;
    background: rgba(0,0,0,0.5);
}
.header-v1 img{
    position: absolute;
    left: 0;
    top: 10px;
    width: auto;
    max-width: 300px;
}

.header-v1  nav {
    margin-top: 0;
    float: left;
    display: block;
}
