.maintitle{
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;
    font-family: Raleway,Arial,sans-serif;
    font-size: 45px;
    line-height: 43px;
    font-weight: 300;
    color: #3f3f3f;
}

.subtitle{
    padding: 3px 0 0 0;
    margin: 0;
    display: block;
    text-align: center;
    font-family: robotolight,sans-serif;
    font-size: 30px;
    line-height: 50px;
    font-weight: 300;
    color: #71b4c6;
}

.mtitle {
    padding: 10px 0 0 0;
    margin: 0;
    display: block;
    font-family: Raleway,Arial,sans-serif;
    font-weight: 100;
    color: #212121;
    font-size: 40px;
    line-height: 45px;
    width: 100%;
}

.stitle {
    padding: 7px 0 0 0;
    margin: 0;
    display: block;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 300;
    color: #212121;
    font-size: 18px;
    line-height: 23px;
    width: 100%;
}

.stitle a {
    color: #99885b;
    text-decoration: none;
}

.s_divider{
    padding-left: 5px;
    padding-right: 5px;
}

.main-slogan-banner {
    padding: 0;
    margin: 0 0 10px 0;
    display: block;
    text-align: center;
    background: repeat 0 0 #f5f5f5;
    min-height: 165px;
    width: 100%;
    font-family: robotolight,sans-serif;
    font-weight: 300;
    font-size: 18px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.title {
    font-size: 34px;
    line-height: 40px;
    color: #212121;
    font-weight: 100;
}

.text {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: #353534;
}
.prm_section .text{
    padding: 30px 0 0 0;
}


.prm_section {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.btns {
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    padding: 14px 14px;
    margin: 0;
    background: rgba(142,214,233,.77);
    font-family: robotoregular,sans-serif;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
}

.prm_section .btns{
    margin-top: 30px;

}
.btns.withArrowSm{
    padding-right: 40px;
    position: relative;
}

.btns.withArrowSm:after {
    padding: 0;
    margin: 0;
    content: url(./assets/icon-btn-arrow-white.png);
    z-index: 1;
    position: absolute;
    right: 15px;
    top: 12px;
}

.btns.withArrowSm.arrowRight:after {
    top: 13px;
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}





.btn-c.withArrowSm{
    padding-right: 40px;
    position: relative;
    display: inline-block;
}

.btn-c.withArrowSm:after {
    padding: 0;
    margin: 0;
    content: url(./assets/icon-btn-arrow-white.png);
    z-index: 1;
    position: absolute;
    right: 15px;
}

.btn-c.withArrowSm.arrowRight:after {
    top: -1px;
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}



.fm_map .title{
    padding: 0 0 81px 0;
    background: url(./assets/pin-text.png) no-repeat center bottom transparent;
}

.fm_map{
    padding: 0 150px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.fm_map .text{
    padding: 30px 0;
}


.more_rooms > div{
    padding: 0;
    border: 2px solid #fff;
}

.pos-abs{
    position:absolute;
}

.more_rooms .pos-abs{
    padding: 0;
    margin: 0;
    display: block;
    position: absolute;
    left: 59px;
    bottom: 36px;
    z-index: 2;
}

.more_rooms .cnt{
    padding: 0;
    margin: 0;
    display: block;
    font-size: 28px;
    line-height: 36px;
    font-weight: 100;
    color: #fff;
}

.btn-c {
    padding: 0;
    margin: 8px 0 0 9px;
    display: block;
    font-size: 15px;
    line-height: 15px;
    font-weight: 200;
    color: #fff;
}


.opac_black{
    z-index: 0;
    background: rgba(0,0,0,0.1);
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    transition: all 0.5s;
}

.room_single_acc:hover .opac_black{
    background: rgba(0,0,0,0.5);
}

.room_single_acc:hover ._small_height{
    background: rgba(0,0,0,0.5);
    transform: scale(1.2);
}



.title-photogallery{
    padding: 36px 0;
    font-size: 26px;
    line-height: 38px;
    color: #282828;
    font-weight: 100;
    background: #f4f4f4;
    text-transform: capitalize;
    text-align: center;
}

.room_single_acc{
    cursor: pointer;
    overflow: hidden;
    position: relative;
}


._small_height{
    height: 350px;
    transition: all 0.5s;
}


.pos-abs._gall{
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%);
    z-index: 99999999;
    opacity: 0;
    transition: all 0.5s;
    margin-top: -10px;
}


._gall .cnt{
    background: #bb4d4a;
    width: 100%;
    float: left;
    padding: 10px;
    margin-top: -5px;
    color: #fff;
}

.room_single_acc:hover ._gall{
    opacity: 1;
}

.start_c-abs{
    position: absolute;
    /* left: 25%; */
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    left: 40px;
    text-align: left;
}

.start_c-abs .btn-c{
    font-size: 20px;
    color: #000;
}

.small_pad_bottom{
    padding-bottom: 50px;
}

.show_more_items {
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    padding: 20px 0 !important;
    color: #000;
    cursor: pointer;
}

.show_more_items > div{
    color: #000;
}

.btn-c.withArrowSm.goTopArrow:after {
    padding: 0;
    margin: 0;
    content: url(./assets/gallery-category-icon.png);
    z-index: 1;
    position: absolute;
    right: 15px;
    transform: rotate(-90deg);
}

.bgWidth {
    width: 100%;
    height: auto !important;
    left: 0 !important;
    position: relative !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
}

.bgHeigth {
    height: 100%;
    width: auto !important;
}

.more_gallery_imgs img{
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translate(-50%);
}
