
@font-face {
    font-family: 'Open Sans';
    font-display: swap;
}

/*!* open-sans-300italic - latin_greek *!*/
/*@font-face {*/
    /*font-family: 'Open Sans';*/
    /*font-style: italic;*/
    /*font-weight: 300;*/
    /*font-display: swap;*/
    /*src: url('../../static/fonts/open-sans-v16-latin_greek-300italic.eot'); !* IE9 Compat Modes *!*/
    /*src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),*/
    /*url('../../static/fonts/open-sans-v16-latin_greek-300italic.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!*/
    /*url('../../static/fonts/open-sans-v16-latin_greek-300italic.woff2') format('woff2'), !* Super Modern Browsers *!*/
    /*url('../../static/fonts/open-sans-v16-latin_greek-300italic.woff') format('woff'), !* Modern Browsers *!*/
    /*url('../../static/fonts/open-sans-v16-latin_greek-300italic.ttf') format('truetype'), !* Safari, Android, iOS *!*/
    /*url('../../static/fonts/open-sans-v16-latin_greek-300italic.svg#OpenSans') format('svg'); !* Legacy iOS *!*/
/*}*/

/*@font-face {*/
    /*font-family: 'Open Sans';*/
    /*font-style: normal;*/
    /*font-weight: 400;*/
    /*font-display: swap;*/
    /*src: url('../../static/fonts/open-sans-v16-latin_greek-regular.eot'); !* IE9 Compat Modes *!*/
    /*src: local('Open Sans Regular'), local('OpenSans-Regular'),*/
    /*url('../../static/fonts/open-sans-v16-latin_greek-regular.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!*/
    /*url('../../static/fonts/open-sans-v16-latin_greek-regular.woff2') format('woff2'), !* Super Modern Browsers *!*/
    /*url('../../static/fonts/open-sans-v16-latin_greek-regular.woff') format('woff'), !* Modern Browsers *!*/
    /*url('../../static/fonts/open-sans-v16-latin_greek-regular.ttf') format('truetype'), !* Safari, Android, iOS *!*/
    /*url('../../static/fonts/open-sans-v16-latin_greek-regular.svg#OpenSans') format('svg'); !* Legacy iOS *!*/
/*}*/
/*!* open-sans-italic - latin_greek *!*/
/*@font-face {*/
    /*font-family: 'Open Sans';*/
    /*font-style: italic;*/
    /*font-weight: 400;*/
    /*font-display: swap;*/
    /*src: url('../../static/fonts/open-sans-v16-latin_greek-italic.eot'); !* IE9 Compat Modes *!*/
    /*src: local('Open Sans Italic'), local('OpenSans-Italic'),*/
    /*url('../../static/fonts/open-sans-v16-latin_greek-italic.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!*/
    /*url('../../static/fonts/open-sans-v16-latin_greek-italic.woff2') format('woff2'), !* Super Modern Browsers *!*/
    /*url('../../static/fonts/open-sans-v16-latin_greek-italic.woff') format('woff'), !* Modern Browsers *!*/
    /*url('../../static/fonts/open-sans-v16-latin_greek-italic.ttf') format('truetype'), !* Safari, Android, iOS *!*/
    /*url('../../static/fonts/open-sans-v16-latin_greek-italic.svg#OpenSans') format('svg'); !* Legacy iOS *!*/
/*}*/
/*!* open-sans-600 - latin_greek *!*/
/*@font-face {*/
    /*font-family: 'Open Sans';*/
    /*font-style: normal;*/
    /*font-weight: 600;*/
    /*font-display: swap;*/
    /*src: url('../../static/fonts/open-sans-v16-latin_greek-600.eot'); !* IE9 Compat Modes *!*/
    /*src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),*/
    /*url('../../static/fonts/open-sans-v16-latin_greek-600.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!*/
    /*url('../../static/fonts/open-sans-v16-latin_greek-600.woff2') format('woff2'), !* Super Modern Browsers *!*/
    /*url('../../static/fonts/open-sans-v16-latin_greek-600.woff') format('woff'), !* Modern Browsers *!*/
    /*url('../../static/fonts/open-sans-v16-latin_greek-600.ttf') format('truetype'), !* Safari, Android, iOS *!*/
    /*url('../../static/fonts/open-sans-v16-latin_greek-600.svg#OpenSans') format('svg'); !* Legacy iOS *!*/
/*}*/
/*!* open-sans-700 - latin_greek *!*/
/*@font-face {*/
    /*font-family: 'Open Sans';*/
    /*font-style: normal;*/
    /*font-weight: 700;*/
    /*font-display: swap;*/
    /*src: url('../../static/fonts/open-sans-v16-latin_greek-700.eot'); !* IE9 Compat Modes *!*/
    /*src: local('Open Sans Bold'), local('OpenSans-Bold'),*/
    /*url('../../static/fonts/open-sans-v16-latin_greek-700.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!*/
    /*url('../../static/fonts/open-sans-v16-latin_greek-700.woff2') format('woff2'), !* Super Modern Browsers *!*/
    /*url('../../static/fonts/open-sans-v16-latin_greek-700.woff') format('woff'), !* Modern Browsers *!*/
    /*url('../../static/fonts/open-sans-v16-latin_greek-700.ttf') format('truetype'), !* Safari, Android, iOS *!*/
    /*url('../../static/fonts/open-sans-v16-latin_greek-700.svg#OpenSans') format('svg'); !* Legacy iOS *!*/
/*}*/


body{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}
.primary_heading:after, .primary_heading:before, .primary_title:after, .primary_title:before {
    width: 50px;
    text-align: center;
    vertical-align: middle;
    content: "";
    height: 2px;
    display: block;
    margin: 10px auto;
}

.primary_heading {
    line-height: 32px;
    font-weight: 200;
}

.primary_title {
    font-size: 30px;
    line-height: 36px;
}

.primary_text {
    font-size: 16px;
    line-height: 28px;
}

.overview_text, .primary_heading {
    font-size: 26px;
}

.primary_color_body {
    color: #343e5e;
}

.max-cont {
    max-width: 600px;
    margin: 0 auto;
    display: block;
}

.pad-cont {
    padding: 60px 0;
}
.no-padding {
    padding: 0;
}

.font-openSans {
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 600;
}

.font-semibold {
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 600;
}

.small-margin-top{
    margin-top: 12px;
}

.secondary_bg_color_body{
    background: #eff0f0;
}

.primary_bg_color_white{
    background: #fff;
}

.primary_color_body{
    color: #343e5e;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 20px 0;
}

.hotel-map-btn{
    padding-bottom: 1px;
}

.no-padding-col > div{
    padding:0;
}

.image-map{
    background-size: cover !important;
    background-position: center !important;
}

.main_slider_heading {
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    max-width: 600px;
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
}
.slider_subheading {
    text-shadow: 2px 2px #000;
    font-size: 24px;
}
.slider_heading {
    font-size: 55px;
    line-height: 60px;
    font-weight: 100;
    text-shadow: 2px 2px #000;
    font-family: 'Open Sans',sans-serif;
}

.btn_read{
    font-size: 14px;
    line-height: 17px;
    padding: 0 15px;
    text-decoration: none;
    cursor: pointer;
    color: #343e5e;
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    padding-top:10px;
}

.btn_read .fa{
    padding-left: 10px;
}

.pos-abs-rooms{
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    white-space: nowrap;
    line-height: 50px;
    border: 1px solid #fff;
    color: #fff;
    padding: 4px 30px;
    margin: 0;
    display: inline-block;
    background: rgba(0,0,0,.6);
    font-weight: 200!important;
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    z-index: 9999999;
    cursro: pointer;
}
.pos-abs-slogan{
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    white-space: nowrap;
    line-height: 50px;
    color: #fff;
    padding: 4px 30px;
    margin: 0;
    display: inline-block;
    font-weight: 200!important;
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    z-index: 9999999;
}
.whp{
    cursor: pointer;
}

.nohover{
    pointer-events: none;
}

.brand_fill{
    fill: #02b8e3;
}

.font-italic, .small_italic {
    font-style: italic;
}

.small_text {
    font-size: 14px;
    line-height: 28px;
}

.reviews .slick-arrow{
    display: none !important;
}

.reviews  .slick-dots {
    bottom: -19px;
    width: 100%;
    margin: 0;
    list-style: none;
    text-align: center;
    position: relative;
}
.reviews .primary_title ,.reviews .small_text{
    padding: 10px;
    margin: 10px;
}

.map_contact_details{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 85px;
    right: 85px;
    z-index: 99;
    padding: 30px;
}

.map_contact_details::after {
    content: "";
    background-color: #343e5e;
    opacity: .5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.map_contact_details  .primary_title{
    color: #fff;
    font-size: 32px;
    line-height: 36px;
    font-weight: 200;
    margin-top:50px;
}

.contact-map-opt{
    padding: 20px 0;
}

.contact-map-opt > div{
    padding: 3px 0;
}

.photo_galeries_cont {
    margin-top: 60px;
    min-height: calc(100vh - 160px);
}

.acc-rooms-v1 li{
    float: initial;
    width: 24.8%;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
}

.acc-top{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 40px;
}

.capacity_overlay{
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 0;
    left: 0;
    height: 100%;
    background: rgba(0,0,0,.5);
    color: #fff;
    transition: all .7s;
}

.capacity_overlay ul {
    position: relative;
    top: 35%;
    text-align: center;
}

.capacity_overlay.primary_text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 100;
}
.pos-rel{
    position: relative;
}

.capacity_overlay li{
    display: block;
    width: 100%;
}

.room-abs:hover .capacity_overlay {
    opacity: 1;
}


.room_name_{
    background: #3f3f3f;
    color: #fff;
    padding: 20px 0;
}
.room_name_item{
    text-transform: capitalize;
    font-size: 24px;
    line-height: 36px;
    font-weight: 100;
    color: #ccc;
}


.services-cont .primary_text p{
    font-size: 21px;
    line-height: 25px;
}

.full_map_cont{
    height: 100vh;
    width: 100%;
}

.book-kids-adults label .d-flex {
    max-width: 150px;
}
.book-kids-adults label span{
    margin: inherit;
    text-align: left;
    font-size: 18px;
    margin-top: 5px;
}

.details.btn{
    background: transparent;
}

.acc-rooms-v1 > ul > li {
    border: 3px solid #FFF;
}

.smallinfomap.insite {
    border: 1px solid;
    max-width: 135px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: block;
    margin-top: 16px;
    text-decoration: none;
    color: #000;
}

.info-readMore{
    margin: 0 auto;
    display: block;
    max-width: 140px;
    margin-bottom: 30px;
}


.slick-slide img {
    display: block;
    margin: 0 auto;
}


.no-reveal .lazy-bg {
    background-image: none !important;
}

.no-revealMap{
    display: none;
}

.dds{
    display: none;
    width: 100%;
    height: 100%;
}

.revealed .dds{
   display: block;
}


