.header-v1{
    z-index: 999999999;
    top: 0;
    position: fixed;
    left: 0;
    transition: all 0.5s;
    width: 100%;
    height: auto;
    background: rgba(0,0,0,0.5);
}
.header-v1  nav li a:hover{
    color: #02b8e3;
}

.header-v1 img{
    position: absolute;
    left: 25px;
    top: 0;
    width: auto;
    transform: translatex(0%);
    max-width: 200px;
}

.header-v1 nav {
    margin-top: 0;
    float: right;
    display: block;
    margin-right: 10px;
    position: relative;
}

.has_Sub ul{
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    position: absolute;
    width: 100%;
    left: 0;
    top: 87px;
}

.header-v1 nav li {
    display: inline-block;
    float: left;
    position: relative;
    padding: 0 10px;
    color: #fff;

}

.header-v1 nav li a {
    font-size: 18px;
    text-decoration: none;
    display: block;
    color: #fff;
    margin-bottom: 0;
    text-align: center;
    line-height: 60px;
    text-transform: capitalize;
}



.header-v1 .sub_menu a {
    display: block;
    padding: 9px 20px 12px 0;
    color: #fff;
    line-height: initial;
    min-width: 145px;
    font-size: 14px;
}

.header-v1 nav li a.book_btn{
    margin: 0;
    background: #95d8ea;
    border: none;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
    padding: 0 10px;
}

.has_Sub:hover > ul{
    display: block;
    position: absolute;
    background: rgba(0,0,0,0.5);
    max-height: 500px;
    transition: max-height 0.25s ease-in;
}

.header-v1 nav .has_Sub ul li a{
    font-size: 15px;
    color: #000;
    text-decoration: none;
    display: block;
    color: #fff;
    margin-bottom: 0;
    text-align: center;
    margin-bottom: 0;
    line-height: 13px;
}

.sub_menu {
    position: absolute;
    left: 0;
    top: 60px;
    z-index: 2;
    padding: 0 0 0 15px;
    max-height: 0;
    transition: max-height .55s ease-out;
    color: #fff;
    width: auto!important;
    background-color: rgba(0,0,0,.5)!important;
    opacity: 0;
    overflow: hidden!important;
    padding-bottom: 12px;
}

.menu-item-has-children:hover>.sub_menu {
    max-height: 500px;
    transition: max-height .55s ease-in;
    opacity: 1;
    overflow: hidden;
}

.sub_menu a:hover {
    color: #02b8e3;
}

.book_now{
    display: inline-block;
    float: right;
    line-height: 60px;
}

.sub_menu>li:before {
    content: '';
    position: absolute;
    height: 1px;
    background: rgba(255,255,255,.5);
    bottom: 0;
    width: calc(100% - 15px);
}

header nav li a {
    text-transform: capitalize;
}

