
.booking-formv1 input{
    border:0;
    outline: 0;
    max-width: 100%;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    color: #656565;
}


.booking-formv1 .datepick{
    width: 150px !important;
    height: 33px !important;
    margin-top: 15px;
}


.header-book{
    position: absolute;
    top: -29px;
    font-size: 20px;
    color: #fff;
    font-weight: 100;
}

.booking-formv1 .datepicker_row > div{
    display: inline-block;

}

.booking-formv1 > div{
    max-height: 50px;
}

.booking-formv1 input[type="number"]::-webkit-outer-spin-button,
.booking-formv1 input[type="number"]::-webkit-inner-spin-button{
    -moz-appearance: none;
    appearance: none;

}
.booking-formv1 label{
    display: inherit;
    padding-bottom: 10px;
    margin-top: 10px;
    font-size: 12px;
}

.booking-formv1 span{
    margin: 0 auto;
}

.booking-formv1 .col-md-3.small-pad2{
    padding-left: 0;
    padding-right: 6px;
}


.booking-formv1 .datepicker_row{
    border: 1px solid #e4e4e4;
    max-width: 100%;
    max-height: 50px;
    background: #fff;
}

.booking-formv1 .space {
    margin: 15px 0;
}
.booking-formv1 .arrow {
    background: #484848;
    height: 1px;
    max-width: 32px;
    position: absolute !important;
    width: 24px;
    top: 24px;
    z-index: 999;
}
.booking-formv1 .arrow:before,
.booking-formv1 .arrow:after {
    content: "";
    background: #484848;
    position: absolute;
    height: 1px;
    width: 15px;
}

.booking-formv1 .arrow:before {
    right: -3px;
    bottom: -5px;
    transform: rotate(-45deg);
}

.booking-formv1 .arrow:after {
    right: -3px;
    top: -5px;
    transform: rotate(45deg);
}

.booking-formv1 .react-datepicker-wrapper,
.booking-formv1 .react-datepicker__input-container{
    max-width: 100%;
}
.booking-formv1 .react-datepicker{
    border:1px solid #616161;
}
.booking-formv1 .react-datepicker__header{
    padding:13px 13px 0px;
    background-color: transparent;
    border-bottom: 2px solid #616161;
}
.booking-formv1 .react-datepicker__current-month{
    padding-bottom: 10px;
    font-size:16px;
    color:rgb(72, 72, 72);
}
.react-datepicker__day-name{
    color:rgb(117, 117, 117);
}
.react-datepicker__day{
    color:rgb(72, 72, 72);
}
.react-datepicker__month{
    padding: 13px 13px 0;
}
.react-datepicker__day--selected,
.react-datepicker__day--highlighted-class,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__month-text--keyboard-selected
{
    background-color: #616161;
    color:#fff !important;
}
.datepicker_row >div:last-child  .react-datepicker__day--keyboard-selected,
.datepicker_row >div:last-child .react-datepicker__month-text--keyboard-selected,
.datepicker_row >div:last-child .react-datepicker__day--in-range:not(.react-datepicker__day--selected){
    background-color: #02b8e3;
    color:rgb(72, 72, 72);
}
.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__day--selected:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__day--highlighted-class:hover,
.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.datepicker_row >div:last-child .react-datepicker__day--in-range:not(.react-datepicker__day--selected):hover{
    opacity: .7;
    background-color: #bb4d4a;
    color:#fff;
}
.datepicker_row >div:last-child  .react-datepicker__day--disabled {
    color:#ccc;
}
.react-datepicker__day--highlighted-class{
    border-radius: 0.3rem;
}

.react-datepicker__navigation--previous{
    background: url("./icons/iconfinder_Back.svg") no-repeat center center;
    width: 25px;
    height: 25px;
    border: 1px solid #bb4d4a;
    background-size: 16px 16px;
    padding: 3px;
    filter: invert(41%) sepia(43%) saturate(888%) hue-rotate(314deg) brightness(85%) contrast(86%);

}
.react-datepicker__navigation--next{
    background: url('./icons/iconfinder_Forward.svg') no-repeat center center;
    width: 25px;
    height: 25px;
    border: 1px solid #bb4d4a;
    background-size: 16px 16px;
    padding: 3px;
    filter: invert(41%) sepia(43%) saturate(888%) hue-rotate(314deg) brightness(85%) contrast(86%);

}
.booking-formv1 .col-md-4.no-arrow{
    max-width: 29.5%;
}

.booking-formv1 .col-md-4.small-pad.has-arrow{
    max-width: 30%;
}

.booking-formv1 .select {
    min-height: 40px;
    border: 1px solid #e4e4e4;
    position: relative;
    padding-left: 0;
    width: 300px;
    background: #fff;
    height: 50px;
    cursor: pointer;
}

.cosmores-txt{
    font-size: 33px;
    padding: 16px 8px;
    text-align: left;
    color: #ffffff;
    height: 50px;
    font-weight: 200;
    line-height: 22px;
}


.booking-formv1 .select:after{
    content:'';
    border: solid #484848;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    right: 20px;
    top: calc(50% - 6px);
    transition:transform .4s ease;
}
.booking-formv1 .select.active:after{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.booking-formv1 .options{
    padding: 15px 15px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px, rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
    opacity: 0;
    visibility: hidden;
    min-height: 0;
    height: 0;
    position: relative;
    transition:height .9s linear, opacity 0.9s ease 0.5s;
}
.booking-formv1 .options:before{
    left: 0;
    content: ' ';
    height: 2px;
    width: 0;
    background: #bb4d4a;
    position: absolute;
    top: 0;
    transition-delay: 1.4s;
    transition: width 1.5s linear;
}
.booking-formv1 .options.active{
    visibility: visible;
    min-height: 100%;
    height: 200px;
    opacity: 1;
    border-top-width: 2px;
    z-index: 99999;

}

.booking-formv1 .col-md-1.small-pad{
    max-width: 150px;
}

.booking-formv1 .options.active:before{
    width:100%;
}
.booking-formv1 .options input{
    width:25%;
    height: 30px;
    border-top :1px solid #bb4d4a;
    border-bottom :1px solid #bb4d4a;
}
.booking-formv1 .plus,
.booking-formv1 .minus{
    width: 32px;
    cursor: pointer;
    border: 1px solid #bb4d4a;
    height: 30px;
    padding: 5px;
    position: relative;
    background-color: transparent;
    transition: background-color .4s ease-in-out;
}
.booking-formv1 .plus:after,.booking-formv1 .plus:before,
.booking-formv1 .minus:after, .booking-formv1 .minus:before{
    display: inline-block;
    position: absolute;
    content: '';
    width: 10px;
    height: 2px;
    background-color: #bb4d4a;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.booking-formv1 .plus:after{
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
}
.booking-formv1 .plus.disable,
.booking-formv1 .minus.disable{
    background-color: #bb4d4a;
}

.booking-formv1 .submit{
    padding: 16px;
    text-align: center;
    background: #02b8e3;
    color: #fff;
    cursor: pointer;
    width: 150px;
}
.booking-formv1 .reset{
    border: none;
    font-size:15px;
    margin-bottom: 13px;
    padding: 1px;
    cursor:pointer;
    color:#bb4d4a;
}

