
.btn_text {
    font-size: 20px;
    line-height: 50px;
}

.btn {
    color: #fff;
    position: relative;
    transition: all .3s;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    padding: 0 30px;
    background-color: #02b8e3;
    font-size: 16px;
    text-decoration: none;
}

.btn:hover {
    color: #02b8e3;
}

.btn:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.btn::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}