.message-notifications{
    position: fixed;
    background: #FFF;
    border: 1px solid;
    width: 500px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
}
.message-notifications .close{
    float: right;
    display: block;
    width: 22px;
    margin: 10px;
    text-align: right;
    padding: 5px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 50%;
}

.content-message-notifications{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}