.footer-v1{
    background: #262626;
    color:#fff;
}

.footer_top img {
    /* background: rgba(0,0,0,0.1); */
    padding: 13px;
    margin-bottom: 40px;
}

.footer_top {
    padding-bottom: 40px;
}

.text-upper{
    text-transform: uppercase;
}

.footer-v2 .fa{
    padding-right: 10px;
}

.footer-v2 a {
    color: #000;
    text-decoration: none;
}
.copyright_site{
    line-height: 1.5;
    font-size: 12px;
    margin: 15px 0;
}

.footer-v2 .footer_bottom{
    padding: 15px 30px;
    background-color: #fff;
}

.social-footer{
    padding-left: 30px;
    margin: 15px 0;
    float: right;
    padding-top: 14px;
}
.social-footer ul{
    font-size: 24px;
    padding-left: 10px;
    display: inline-block;
}

.social-footer ul li{
    display: inline-block;
}
