@media screen and (max-width: 1500px) {

    .room_name_item {
        font-size: 16px;
        line-height: 20px;
        min-height: 40px;
    }

}

@media screen and (max-width: 992px) {
    .sub_menu {
        position: relative;
        width: 100%;
        top: 0;
        background: transparent !important;
        padding:0;
    }

    .mobile-switcher img{
        width: auto;
        position: relative;
        transform: translatex(-50%);
        left: 50%;
        top: 0;
    }

    .room_name_item {
        font-size: 16px;
        line-height: 20px;
        min-height: 30px;
    }
}


@media screen and (max-width: 600px) {

    .more-sights .arrow_btn.next {
        right: 0;
    }

    .more-sights .arrow_btn.prev {
        left: 0;
    }

    .image-map {
        height: 250px !important;
    }

    .room_gallery_slider, .title_room {
        font-size: 45px;
        line-height: 48px;
    }

    ._animation.no-padding-col{
        height: auto;
    }
    ._animation.no-padding-col > .col-md-12 > div{
        height: 350px !important;
    }
    .booking-formv1 .col-md-4.no-arrow {
        max-width: 100%;
        padding: 8px;
    }

    .booking-formv1 .col-md-4.small-pad.has-arrow{
        max-width: 100%;
    }

    .booking-formv1 .datepicker_row {
        border: none;
        max-width: initial;
        max-height: 100%;
        background: transparent;
    }

    .booking-formv1 > div {
        max-height: 100%;
    }

    .booking-formv1 .arrow{
        display: none !important;
    }

    .booking-formv1 .datepicker_row > div {
        display: block;
    }

    .react-datepicker-wrapper {
        display: inline-block;
        width: 100%;
    }

    .booking-formv1 input {
        border: 0;
        outline: 0;
        max-width: 100%;
        text-align: center;
        font-size: 16px;
        color: #656565;
        width: 100%;
        height: 50px;
    }

    .booking-formv1 .datepick {
        width: 100% !important;
        height: 100%  !important;
        margin-top: 15px;
    }

    .react-datepicker__input-container {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .header-book {
        position: relative;
        top: 0;
        padding: 10px 0;
    }

    .booking-formv1 .select {
        width: 100%;
        height: 50px;
    }
    .form-group {
        padding: 0 10px;
    }

    .name-rev > div:nth-child(1){
        word-break: break-all;
    }

    .container-map-inner {
        width: 100%;
        height: 70vh !important;
    }

    .container-map > div:nth-last-child(1) {
        float: left;
        width: 100%;
        height: auto;
    }

    .container-map {
        width: 100%;
        height: 100% !important;
    }

    .full_map_cont{
        height: auto;
        min-height: 500px;
    }


    .map_contact_details {
        right: 0;
        position: relative;
        display: block;
        float: left;
        top: 0;
        width: 100%;
    }

    .room_highlights_inner {
        width: auto;
    }

    .facilities-in {
        -webkit-column-count: 1;
        column-count: 1;
    }

    .slick-arrow{
        display: none !important;
    }

    .main-slogan-banner {
        background: repeat 0 0 #f5f5f5;
        font-weight: 300;
        font-size: 18px;
    }

    header{
        left: -110%;
    }

    .max-cont {
        max-width: 100%;
    }

    .pos-abs-slogan {
        white-space: inherit;
        line-height: 44px;
        max-width: 100%;
        padding: 0;
    }

    .acc-rooms-v1 li {
        float: initial;
        width: 100%;
        margin-top: 10px;
    }

    .serv_bg_img{
        min-height: 400px;
    }

    .left-side-pull .services-content {
        right: 50px !important;
        left: 0;
    }

    .services-content {
        display: block;
        width: 100%;
        left: 0;
        top: 12px;
        min-height: 100%;
        padding: 20px;
        z-index: 99;
    }

    .bg-hotel.jsx-742293292 {
        padding: 20px !important;
    }

    .bgHeigth {
        height: auto!important;
        width: auto!important;
    }
    .bgWidth {
        height: auto!important;
        width: auto!important;
    }

    .fullSliderComponent::after {
        background: rgba(0,0,0,0.8);
    }
    .more_gallery_imgs::after{
        background: rgba(0,0,0,0.8);
    }

    .fullSliderComponent #story_body{
        text-align: center;
        position: absolute;
        bottom: 91px;
        width: 100%;
    }

    .slider_heading {
        font-size: 30px;
        font-weight: 400;
        line-height: 1;
    }

    .arrow_btn.next {
        right: 0;
    }
    .arrow_btn{
        left: 0;
    }

    .room_highlights_inner>div {
        float: left;
        width: 50%;
        flex: auto;
    }

    .social-footer {
        padding-left: 0;
        margin: 0;
        float: initial;
        padding-top: 14px;
    }

    .footer-v2 .footer_bottom {
        text-align: center;
    }
    .copyright_site {
        line-height: 0.5;
        font-size: 17px;
        margin: 15px 0;
        text-align: center;
    }

    .logo_hotel {
        top: 0;
        max-height: 60px;
        width: auto;
        left: 47.5%;
        -webkit-transform: translate(-50%);
        transform: translate(-50%);
    }

    .hamburger {
        left: 0;
        top: 10px;
        padding: 8px;
    }

    .book_hotel {
        right: 0;
        padding: 10px;
        font-size: 13px;
        line-height: 40px;
        top: 0;
    }

}