/*.CircularProgressbar {*/
/*    max-width: 100px;*/
/*}*/

.circles_bar > div > div {
    max-width: 120px;
    float: left;
}

.circles_bar{
    height: 120px;
    display: inline-block;
    width: 120px;
    margin-right: 20px;
}

.circles_bar_container{
    padding: 20px;
}