.room_gallery_slider{
    position: absolute;
    z-index: 9;
    color: #fff;
    font-size: 60px;
    line-height: 60px;
    text-transform: capitalize;
    font-weight: 100;
    left: 45px;
    bottom: 40px;
}

.title_room {
    font-size: 60px;
    line-height: 60px;
}

.rooms_inner>div {
    margin-top: 30px;
    margin-bottom: 30px;
}

.room_overview{
    font-size: 18px;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #828282;
}

.room_highlights {
    background: url(../static/assets/gradient.jpg) no-repeat;
}

.room_highlights_inner {
    width: 685px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.room_highlights_inner>div {
    float: left;
    width: auto;
    flex: 1 1;
}
.room_highlights_inner span {
    display: block;
}

.room_highlights_inner>div img {
    display: block;
    margin: 24px auto 0;
}
.text_highlight {
    display: block;
    margin-bottom: 18px;
    margin-top: 10px;
    color: #828282;
}

.top_remove_border {
    margin-top: -26px;
}

.bottom_remove_border, .top_remove_border {
    width: 230px;
    position: absolute;
    background: #fff;
    height: 50px;
    left: 50%;
    margin-left: -115px;
}

.facilities-in {
    -webkit-column-count: 4;
    column-count: 4;
    text-align: left;
    margin-top: 80px;
    margin-bottom: 90px;
    padding: 0 20px;
}

#button_cosmores, .primary_color_white {
    color: #fff!important;
}

.facilities_rooms li {
    list-style-type: disc;
}

.facilities_rooms li {
    list-style-type: disc;
}
.facilities_rooms li {
    color: #828282;
    font-weight: 100;
    font-family: open sans!important;
    font-size: 16px;
    line-height: 28px;
}

.rooms_inner>div {
    margin-top: 30px;
    margin-bottom: 30px;
}

.rooms_text_color {
    color: #707070;
}
.facilities_rooms {
    border: 1px solid #c9c9c9;
    position: relative;
}

.fac-heading {
    position: absolute;
    width: auto;
    padding: 0;
    margin-top: -14px;
    display: inline-block;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-weight: 100;
}

.fac-heading, .single-rooms #container-inner {
    background: #fff;
}

.fac-heading, .text-upper {
    text-transform: uppercase;
}

.bottom_remove_border {
    bottom: -24px;
}

.facilities_rooms .btn_text {
    margin-bottom: -25px;
}
